<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current places ({{places.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Travel/Trip Date</th>
          <th>How many members</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody *ngIf="places.length === 0">
        <tr>
          <td colspan="4">There are no trip/travel plan. Go travel make some memories. Travel is the healtiest addiction</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let place of places">
          <td>{{place.name}}</td>
          <td>{{place.when | date: 'yyyy-MMM-dd'}}</td>
          <td>{{place.teamSize}}</td>
          <td>{{place.description}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(place)"><i class="fa fa-pencil"></i> Edit</button>           
            <button class="btn btn-sm btn-danger" (click)="deletePlace(place)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editPlace(place)" style="display:inline">
              <div class="form-group">
                <input class="form-control" type="text" name="name" [(ngModel)]="place.name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="date" name="when" [(ngModel)]="place.when" placeholder="Travel/Trip Date" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="number" name="teamSize" [(ngModel)]="place.teamSize" placeholder="How many members " step="any"
                  min="0" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="description" name="description" [(ngModel)]="place.description" placeholder="Description"
                  required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new place</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addCatForm" (ngSubmit)="addPlace()" style="text-align:center">
      <div class="form-group">
        <input class="form-control" type="name" name="name" formControlName="name" placeholder="Name">
      </div>
      <div class="form-group">
        <input class="form-control" type="date" name="when" formControlName="when"  placeholder="Travel/Trip Date">
      </div>
      <div class="form-group">
        <input class="form-control" type="number" name="teamSize" formControlName="teamSize" placeholder="How many members" step="any"
          min="0">
      </div>
      <div class="form-group">
        <textarea class="form-control" type="description" name="description" formControlName="description" placeholder="Description"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addCatForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>